<div class="container flex-column">
　<div class="row my-3">
  <h3 class="col-3 table-active text-center">新規会員登録</h3>
  </div>
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "user/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class="col-sm-9 form-inline mb-3">
        <label class="col-sm-3">アカウント名</label>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="form-group ">
        <div class="col-sm-9 form-inline mb-3">
        <label class="col-sm-3">メールアドレス </label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-9 form-inline mb-3">
        <label class="col-sm-3">パスワード
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
        </label>
        <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-9 form-inline mb-3">
        <label class="col-sm-3">確認用パスワード</label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="actions">
        <div class="col-sm-5 form-inline mb-3">
        <div class="col-sm-7 text-center">
        <%= f.submit "新規登録",class:"btn btn-sm btn-success btn-primary mb-3"%>
        </div>
        </div>
      </div>
    <% end %>
      <p class="col-2 table-active text-center">既に登録済みの方</p>
      <p class="col-3 text-center"><%= link_to "こちら",new_user_session_path %>からログインしてください</p>
    </div>
  </div>
</div>