<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <h3 style="margin: 20px;">プロフィール編集</h3>
          <table class="card" style="margin-top: 20px;">

              <%= form_with model: @user, url: user_user_path, local:true do |f| %>
              <%= attachment_image_tag @user, :profile, fallback: "no_image.png", size: "100x100"%>

      　       <tr>
      　         <th style="padding: 5px 10px 5px 5px;"><%= f.label :プロフィール画 %></th>
      　         <td><%= f.attachment_field :profile %></td>
      　       </tr>
      　       <tr>
      　         <th style="padding: 5px 10px 5px 5px;"><%= f.label :ニックネーム %></th>
      　         <td><%= f.text_field :name, autofocus: true, id:"inputName" %></td>
      　       </tr>
              <tr>
                <th style="padding: 5px 10px 5px 5px;"><%= f.label :自己紹介 %></th>
                <td><%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", size: "40" %></td>
              </tr>
          </table>
          <div style="margin: 0 0 20px 0; text-align: left;">
          <%= f.submit "プロフィールを更新する", class: "btn mt-3", style: "background-color: #78d8e3; color: black;" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>