<% if !posts.nil? %>
  <% posts.each do |post| %>
      <div class="t3">
        <div class="card">
          <% post.post_images.first(1).each do |image| %>
            <%= attachment_image_tag image, :image, size:"150x150" %>
          <% end %>
          <div>
            <h5>
              <i class="fas fa-envelope"></i>
              <%= post.title %>
            </h5>
            <p>
              <%= truncate(post.body) %>
            </p>
            <div class="profile_image">
              <%= attachment_image_tag @users, :profile_image, fallback: "no_image.png", size:"30x30" %>
              <%= post.user.name %>
            </div>
            <p class="card-text text-right">
              <small class="text-muted">
                <%= post.created_at.strftime('%Y/%m/%d') %>
              </small>
            </p>
          </div>
        </div>
      </div>
  <% end %>
<% end %>
