  <div class="container">
    <div class="col-md">
      <h2 class="top-line">新着投稿一覧</h2>
    </div>
  </div>

<div class="container">
 <div class="row">
  <% @posts.each do |post| %>
    <div class="col-8 mt-2">
      <div class="card"　style="width: 18rem;">
        <div class="profile_image">
          <%= link_to user_user_path(post.user), style: "color: gray;" do %>
            <%= attachment_image_tag @users, :profile, fallback: "no_image.png", size:"50x50" %>
            <%= post.user.name %>
          <% end %>
        </div>
        <h5 class="card-title">
          <%= link_to user_post_path(post.id), style: "color: black;" do %>
          <i class="fas fa-envelope"></i>
          <%= post.title %>
          <% end %>
        </h5>
        <%= link_to user_post_path(post.id) do %>
          <%= attachment_image_tag(post, :image, :fill, 100, 100 ) %>
        <% end %>
        <div class="card-body">
          <p class="card-text">
            <%= truncate(post.body) %>
          </p>

          <p class="card-text text-right">
            <small class="text-muted">
              <%= post.created_at.strftime('%Y/%m/%d') %> |
              <%= render 'user/post_comments/count', post: post %> |
              ♥<%= post.favorites.count %></small>
            </small>
          </p>
        </div>
      </div>
    </div>
  <% end %>
 </div>
</div>


