<div class="row">
    <div class="col"></div>
      <div class="col">
        <h3 style="margin: 20px;"><i class="fas fa-pen"></i>  新規投稿</h3>
          <%= form_with model: @post, url: user_posts_path, local:true do |f| %>
          <%= render 'layouts/errors', model: f.object %>

          <p>
            <%= f.label :body, 'タイトル' %>
            <%= f.text_field :title, placeholder: "タイトル" %>
          </p>

          <p>
            <%= f.label :image, '画像' %>
            <%= f.attachment_field :image %>
          </p>


            <div><%= f.label :body, '本文' %></div>
            <p>
              <%= f.text_area :body, pleceholder: "", size: "50x10" %>
            </p>

              <%= f.submit '投稿', class: "btn mb-2", style: "background-color: #90ee90; color: black;" %>
          <% end %>
      </div>
    <div class="col"></div>
  </div>