<div class="bg">
  <div class="container">
    <h3 style="padding: 30px;"><i class="fas fa-pen"></i>投稿詳細</h3>
    <div class="row card">
      <div class="col-8">
        <%= link_to user_user_path(@post.user), style: "color: gray;" do %>
          <%= attachment_image_tag @users, :profile, fallback: "no_image.png", size:"50x50" %>
          <%= @user.name %>
        <% end %>
        <% if @post.user == current_user %>
          <%= link_to "投稿編集", edit_user_post_path(@post.id), class: "btn btn-success btn-sm mx-2" %>
          <%= link_to "投稿削除", user_post_path(@post.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger btn-sm" %>
        <% end %>
      </div>
        <div class="card-title">
          <h4><%= @post.title %></h4>
        </div>
        <!--投稿画像-->
        <div class="image">
          <% @post.post_images.each do |image| %>
           <%= attachment_image_tag image, :image, size:"200x200" %>
          <% end %>
        </div>
        <!--投稿本文-->
        <div class="card-body">
          <div class="card-text my-2">
            <%= @post.body %>
          </div>
        <!--投稿日時・コメント数・いいね-->
        <div style="text-align: right;">
          <span><%= @post.created_at.strftime('%Y/%m/%d') %>  |</span>
          <span class="favorite-btn_<%= @post.id %>" id="post_<%= @post.id %>">
            <%= render 'user/favorites/favorite', post: @post %>
          </span>
        </div>
      <hr>
      <!--コメント機能-->
      <h2 class="top-line">コメント</h2>
        <div class="row pt-3">

          <div class="col-md-4">
            <%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
              <%= f.text_area :comment, rows:'5',placeholder: "コメント入力" ,class:"form-control"%>
              <%= f.submit "送信する" ,class:"btn btn-primary mt-1 mb-5"%>
            <% end %>
          </div>
          <div id="comment_area" class="col-md-7 offset-md-1 padding-bottom: 10px;">
            <%= render "user/post_comments/comment", post_comments: @post_comments %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
